body {
  background-image: url("pictures/weatherAppBG.png");
  background-size: cover;
  background-color: #a393eb;
  color: #27296d;
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  background-repeat: repeat-y;
}
.weather-app-icon {
  display: flex;
  justify-content: center;
  max-width: 70px;
}

.app {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 30px auto 70px;
  width: 550px;
  padding: 20px;
  border-radius: 19px;
}

.search-input {
  margin: 10px auto;
  width: 450px;
  padding: 13px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #a393eb;
  color: white;
}

.search-button {
  margin: 10px auto;
  width: 50px;
  padding: 5px;
  border-radius: 30px;
  border-color: transparent;
  background-color: #a393eb;
  color: white;
  font-size: 30px;
}

.current-details {
  color: #5e63b6;
  font-size: 21px;
  margin: 0;
  text-align: center;
}

.details {
  color: #5e63b6;
  font-size: 15px;
  text-align: center;
}

.current-temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.current-temperature-value {
  font-weight: bold;
  font-size: 65px;
}

.weather-forecast-day {
  display: flex;
  justify-content: cen;
}
.temp-min {
  color: #a393eb;
}

.row {
  font-size: 21px;
  display: flex;
  justify-content: space-between;
}

.col-2 {
  display: inline-block;
}

h1 {
  margin: 10px;
  text-align: center;
}

hr {
  color: #a393eb !important;
  max-width: 400px;
}

a {
  color: #27296d;
}

input[type="search"]::placeholder {
  color: white;
}
